:root {
    --primary-color: #0A001B;
    --secondary-color: #F0EFF4;
    --third-color: #9E829C;
    --primary-font: "Dela Gothic One", serif;
    --secondary-font: "Montserrat", sans-serif;
}

body, html {
    font-family: Arial, sans-serif;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main {
    margin-top: 50px;
}

h2 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

form {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.btn-primary {
    background-color: var(--third-color);
    border-color: var(--third-color);
}

.btn-primary:hover {
    background-color: darken(var(--third-color), 10%);
    border-color: darken(var(--third-color), 10%);
}


footer {
    margin-top: 10vh;
    background-color: #343a40;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}